html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd,
q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt,
dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot,
thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption,
footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

address, article, aside, div, footer, header, hgroup, layer, main, nav, section {
	display: block;
}

ul, ol {
	list-style: none;
}

html, body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

*, body {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	min-width: 960px;
	height: 100vh;
}

.sidebar {
	flex: 0 0 250px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e5e5e5;
	padding-left: 8px;
	padding-bottom: 16px;
	position: relative;
}

.sidebar > .title {
	text-align: center;
	flex: 0 0 auto;
	padding: 20px 0;
	color: #2FB1FF;
	position: relative;
}

.sidebar > .title > img {
	margin-right: 10px;
}

.sidebar > .title > h2, .sidebar > .title > h3 {
	font-weight: 300;
}

.sidebar > .title > h2 {
	font-size: 16px;
	letter-spacing: 0.9em;
	margin-top: 0.8em;
	margin-bottom: 0.6em;
}

.sidebar > .title > h3 {
	font-size: 11px;
	letter-spacing: 1.2em;
}

.sidebar > .navigation-wrapper {
	flex: 1 1 0px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	min-height: 0;
	height: 100%;
}

.sidebar .navigation {
	flex: 1 0 auto;
}

.sidebar .navigation ul.company {
	padding-left: 8px;
}

.sidebar .navigation ul.work {
	padding-left: 8px;
}

.sidebar .company-name {
	font-size: 12px;
	color: #9f9f9f;
	padding-left: 16px;
	margin-top: 32px;
	display: block;
	line-height: 0;
}

.sidebar a.work-link {
	text-decoration: none;
	color: #1c1c1c;
}

.sidebar a.work-link:hover {
	color: #797979;
}

.sidebar a.work-link.active {
	color: #2FB1FF;
}

.sidebar .work-title {
	font-size: 17px;
	margin: 12px 0 2px 0;
}

.sidebar .work-year {
	font-size: 10px;
	color: #606060;
	display: block;
}

.main { 
	flex: 1 1 0;
}