html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd,
q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt,
dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot,
thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption,
footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

address, article, aside, div, footer, header, hgroup, layer, main, nav, section {
	display: block;
}

ul, ol {
	list-style: none;
}

html, body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

*, body {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	min-width: 740px;
	height: 100vh;
}

.sidebar {
	flex: 0 0 250px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e5e5e5;
	position: relative;
}

.sidebar > .title {
	text-align: center;
	flex: 0 0 auto;
	padding: 20px 0 16px 12px;
	color: #2FB1FF;
	position: relative;
}

.sidebar > .title a {
	display: inline-block;
}

.sidebar > .title img {
	margin-right: 10px;
}

.sidebar > .title > h2 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.9em;
	margin-top: 0.8em;
	margin-bottom: 0.4em;
}

.sidebar > .title > a.works-home-link {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1.2em;
	color: #2FB1FF;
	text-decoration: none;
}

.sidebar > .navigation-wrapper {
	flex: 1 1 0px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.sidebar .navigation {
	flex: 1 0 auto;
	padding-top: 16px;
}

.sidebar .navigation ul.work {
	padding: 8px 0 16px 32px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 32px;
}

.navigation ul.work > li {
	padding: 6px 0;
}

.sidebar .company-name {
	font-size: 12px;
	color: #9f9f9f;
	padding-left: 32px;
	text-transform: uppercase;
}

.sidebar a.work-link {
	text-decoration: none;
	color: #1c1c1c;
}

.sidebar a.work-link:hover {
	color: #797979;
}

.sidebar a.work-link.active {
	color: #2FB1FF;
}

.sidebar .work-title {
	font-size: 17px;
}

.sidebar .work-year {
	font-size: 10px;
	color: #606060;
	display: block;
}

.main {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
	
.main > .content-wrapper {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 32px ;
}

.main > .content-wrapper > .content {
	flex: 1 1 auto;
	padding: 0 32px;
	max-width: 680px;
}

.content h1 {
	color: #686868;
	font-size: 64px;
	font-weight: lighter;
	text-align: center;
	margin: 8px 0 16px 0;
}

.content .info-wrapper {
	color: #606060;
	text-align: right;
	margin-bottom: 16px;
}

.content .company-name, .content .work-year {
	display: block;
	padding: 4px 0;
}

.content .company-name {
	font-size: 16px;
}

.content .work-year {
	font-size: 12px;
}

.content p {
	color: #1b1b1b;
	font-size: 18px;
	line-height: 1.4em;
	padding: 16px 0;
}

.content figure {
	text-align: center;
	margin: 16px 0 48px 0;
	cursor: pointer;
}

.content figure img {
	max-width: 100%;
	height: auto;
}

.content figcaption {
	max-width: 500px;
	font-size: 14px;
	color: #656565;
	margin: 4px auto 0 auto;
}

/* Image Gallery */

.image-gallery-wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.image-gallery-wrapper .image-gallery-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.9);
	z-index: 0;
}

.image-gallery-wrapper .image-gallery-content {
	margin: auto;
	width: 400;
	height: 300;
	z-index: 10;
}

.image-gallery-wrapper .image-gallery-content figure {
	z-index: 10;
	text-align: center;
	color: white;
	max-width: 780px;
}

.image-gallery-content figure img {
	max-width: 780px;
}

.image-gallery-wrapper .arrow-wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.image-gallery-wrapper .gallery-arrow {
	flex: 0 0 68px;
	padding: 20px;
	cursor: pointer;
}

.image-gallery-wrapper .gallery-arrow img {
	width: 28px;
	height: 58px;
}

.image-gallery-wrapper .gallery-spacer {
	flex: 1 1 auto;
	height: 100vh;
}

.image-gallery-wrapper .close-button {
	width: 64px;
	height: 64px;
	position: relative;
	float: right;
	cursor: pointer;
}

.image-gallery-wrapper .close-button img {
	width: 24px;
	height: 24px;
	margin: 20px;
}