<!DOCTYPE html>
<html ng-app="portfolioApp">
	<head>
		<meta charset="utf-8">
		<title>Sean's Works</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<link rel="stylesheet" href="css/main.css">
	</head>
	
	<body>
		<div class="wrapper" ng-controller="NavigationCtrl as navi">
			<div class="sidebar">
				<div class="title">
					<a href="//seanchoe.com"><img src="images/sidebar_logo.svg" alt="logo" /></a>
					<h2>SEAN CHOE</h2>
					<a href="{{ navi.homeUrl }}" class="works-home-link"><h3>WORKS</h3></a>
				</div>
				<div class="navigation-wrapper">
					<div class="navigation">
						<ul class="company">
							<li ng-repeat="navigation in navi.navigation">
								<h3 class="company-name">{{ navigation.company.name }}</h3>
								<ul class="work">
									<li ng-repeat="work in navigation.works">
										<a class="work-link {{ navi.isActive('/'+work.id) }}" href="#{{ work.id }}"><h4 class="work-title">{{ work.name }}</h4></a>
										<span class="work-year">{{ work.year }}</span>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- .navigation -->
				</div><!-- .navigation-wrapper -->
			</div><!-- .sidebar -->
			<div class="main">
				<div class="content-wrapper">
					<div class="content">
						<div ng-view></div>
					</div><!-- .content -->
				</div><!-- .content-wrapper -->
			</div><!-- .main -->
		</div><!-- .wrapper -->
	</body>
</html>