<p>After launching DinnerTime Plus and QualityTime, we've got a lot of requests from customers that they want a parental control app for iOS.</p>

<p>iOS has much more restrictions than Android, so we had to approach in a different way. Instead of completely blocking the phone usage, we decide to give positive rewards to kid if they complete the goals that parents set.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_blocks_01.png" alt="Blocks logo" width="144" height="154"/>
	<figcaption>Official logo. It represents playful blocks like Lego. It is also used as a virtual currency in the app.</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_blocks_02.png" alt="Blocks white board" width="540" height="404"/>
	<figcaption>Original UI flow on a white board.</figcaption>
</figure>