<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">Logo and Graphic Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Mobile App UI Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 90%"></span></span><span class="percent-text">90%</span></span></li>
	<li><span class="cont-title">Website Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Website Coding (HTML/CSS/PHP)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>Blocks is an iOS app that can help you controlling children's smart phone usage. Parents can monitor child's activities from their own phone.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_blocks_01.png" alt="Blocks logo" data-width="144"/>
	<figcaption>Blocks logo</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_blocks_03.png" alt="Blocks UI design" data-width="540" />
	<figcaption>Blocks UI design</figcaption>
</figure>

<p>Once the parent initiate a Instant or Scheduled Goal, The child receives a notification. Once the goal is started, if the child open the device during the set period, the goal fails. If they don't use the device until the goal finishes, they earn the Blocks as reward.</p>

<figure ng-click="showGallery(2)">
	<img src="./images/works_blocks_04.gif" alt="Starting Instant Goal" data-width="540" />
	<figcaption>Starting Instant Goal</figcaption>
</figure>

<figure ng-click="showGallery(3)">
	<img src="./images/works_blocks_02.png" alt="Original UI flow on a white board" data-width="540" />
	<figcaption>Original UI flow on a white board</figcaption>
</figure>

<p>Instead of forcing to stop using the phone, our approach was to give positive reward to children if they use their phones less. Initially we designed it to give "Trophies" as rewards to children, which are like virtual stickers.</p>

<figure ng-click="showGallery(4)">
	<img src="./images/works_blocks_05.png" alt="Original Trophies design" data-width="540" />
	<figcaption>Original Trophies design</figcaption>
</figure>

<p>However when we did a survey with these trophy designs, our customers gave us feedbacks that their children are not motivated by them. So we have decided to change them to real-life rewards that parents can set for their children.</p>

<figure ng-click="showGallery(5)">
	<img src="./images/works_blocks_06.png" alt="Reward list on parent's app" data-width="276" />
	<figcaption>Adding a new reward</figcaption>
</figure>

<p>Blocks has not been released to App Store yet.</p>