<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">Logo and Graphic Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">iOS App UI Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 75%"></span></span><span class="percent-text">75%</span></span></li>
	<li><span class="cont-title">iOS App Coding</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 50%"></span></span><span class="percent-text">50%</span></span></li>
	<li><span class="cont-title">Website Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Website Coding (HTML/CSS/PHP)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>Blogsy is a blogging app for iPad.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_blogsy_01.png" alt="Blogsy app icon" data-width="160" />
	<figcaption>Blogsy app icon</figcaption>
</figure>

<p>In Fomola, we made Blogsy for our own needs. When our team had our iPads for the first time, we wanted a nice, easy-to-use blogging app for iPad. But we couldn't find one, so we started to develop Blogsy.</p>

<p>It once had been ranked 32nd top paid app in U.S. App Store, and also 2nd top grossing app in social networking category.</p>

<figure ng-click="showGallery(1)">
	<img src="./images/works_blogsy_02.gif" alt="Swiping with three fingers to switch between rich text and HTML mode" data-width="540" />
	<figcaption>Swiping with three fingers to switch between rich text and HTML mode</figcaption>
</figure>

<figure ng-click="showGallery(2)">
	<img src="./images/works_blogsy_03.gif" alt="Adding an image to a blog post and resizing" data-width="540" />
	<figcaption>Adding an image to a blog post and resizing it</figcaption>
</figure>

<figure ng-click="showGallery(3)">
	<img src="./images/works_blogsy_04.gif" alt="Uploading images" data-width="540" />
	<figcaption>Uploading images</figcaption>
</figure>

<p>We had a mascot for Blogsy called Fomo. For every major update we did, we gave it a name of a mythical creature and added an image of Fomo in it's shape.</p>

<figure ng-click="showGallery(4)">
	<img src="./images/works_blogsy_05.png" alt="Fomo characters" data-width="540" />
	<figcaption>Fomo characters</figcaption>
</figure>

<p style="text-align: center"><a href="http://www.blogsyapp.com" target="_blank">Blogsy Website</a></p>
<p style="text-align: center"><a href="https://itunes.apple.com/us/book/chang-eob-iyagi/id994089677?mt=11" target="_blank">Story of developing Blogsy on iBooks Store, written by one of the founding member. (in Korean)</a></p>