<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">Logo and Graphic Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Mobile App UI Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 80%"></span></span><span class="percent-text">80%</span></span></li>
	<li><span class="cont-title">iOS App Coding (Objective-C)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Website Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Website Coding (HTML/CSS/PHP)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>DinnerTime Plus is an app with real-time remote monitoring and parental control features to manage and take control of children's smart device usage habits and addiction. Child's app is for Android and parent's app is for both iOS and Android.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_dt_01.png" alt="DinnerTime Plus logo" data-width="160" />
	<figcaption>DinnerTime Plus logo</figcaption>
</figure>

<p>DinnerTime Plus started from our own needs. Many of my colleagues have kids and they had experiences of having hard time to make kids stop looking at the phones when they have a family dinner.</p>

<p>So we thought, "What if there's an app that blocks all kid's phone with just one tap of a button?". That was how we started developing DinnerTime Plus.</p>

<figure ng-click="showGallery(1)">
	<img src="./images/works_dt_02.png" alt="DinnerTime Plus parent's app UI" data-width="324" />
	<figcaption>DinnerTime Plus parent's app UI</figcaption>
</figure>

<figure ng-click="showGallery(2)">
	<img src="./images/works_dt_03.png" alt="Real time monitoring of child's app" data-width="540" />
	<figcaption>Real time monitoring</figcaption>
</figure>

<p style="text-align: center"><a href="http://www.dinnertimeapp.com">DinnerTime Plus Website</a></p>
<p style="text-align: center"><a href="https://play.google.com/store/apps/details?id=com.zerodesktop.appdetox.dinnertimeplus&hl=en">DinnerTime Plus on Google Play</a></p>