<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">Logo and Graphic Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Desktop OS UI Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 90%"></span></span><span class="percent-text">90%</span></span></li>
	<li><span class="cont-title">iOS App Coding (Objective-C)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Website Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Website Coding (HTML/CSS/PHP)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>MiiPC is small size personal computer running Android OS. We have been successfully funded on Kickstarter.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_miipc_01.png" alt="MiiPC logo" data-width="240" />
	<figcaption>MiiPC logo</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_miipc_02.png" alt="MiiPC device" data-width="540" />
	<figcaption>MiiPC device. Device design was outsourced.</figcaption>
</figure>

<figure ng-click="showGallery(2)">
	<img src="./images/works_miipc_04.png" alt="Homescreen UI" data-width="540" />
	<figcaption>Homescreen UI</figcaption>
</figure>

<figure ng-click="showGallery(3)">
	<img src="./images/works_miipc_03.png" alt="Wallpaper designs" data-width="540" />
	<figcaption>Wallpaper designs</figcaption>
</figure>

<figure ng-click="showGallery(4)">
	<img src="./images/works_miipc_05.png" alt="iOS companion app UI" data-width="540" />
	<figcaption>iOS companion app UI</figcaption>
</figure>

<p style="text-align: center"><a href="https://www.kickstarter.com/projects/2102024857/miipc-power-to-the-parents">MiiPC Kickstarter Page</a></p>
<p style="text-align: center"><a href="http://www.miipc.com">MiiPC Website</a></p>