<p>MiiPC is small size personal computer with Android OS. We have successfully funded on Kickstarter.</p>

<p>I designed the logo and the iOS companion app's UI. I've also coded the iOS app.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_miipc_01.png" alt="MiiPC logo" data-width="240" />
	<figcaption>MiiPC logo</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_miipc_02.png" alt="MiiPC device" data-width="520" />
	<figcaption>MiiPC device</figcaption>
</figure>

<p style="text-align: center"><a href="https://www.kickstarter.com/projects/2102024857/miipc-power-to-the-parents">MiiPC Kickstarter Page</a></p>
<p style="text-align: center"><a href="http://www.miipc.com">MiiPC Website</a></p>