<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">UI/UX Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 80%"></span></span><span class="percent-text">80%</span></span></li>
	<li><span class="cont-title">Prototype Coding (HTML/CSS/Javascript)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>In February 2015, ZeroDesktop acquired core technology assets from <a href="https://www.ncomputing.com/" target="_blank">NComputing</a>. NComputing is a desktop virtualization company with more than 70,000 customers in 140 countries.</p>

<p>I started working on designing NComputing's latest management software family. Management Portal is a part of it, and it lets users to manage their software licenses and thin client devices they have purchased on the web.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_ncmp_01.png" alt="Main page - corporate account" data-width="1440"/>
	<figcaption>Main page - corporate account</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_ncmp_02.png" alt="Main page - customer account" data-width="1440"/>
	<figcaption>Main page - customer account</figcaption>
</figure>

<figure ng-click="showGallery(2)">
	<img src="./images/works_ncmp_03.png" alt="Software store" data-width="1440"/>
	<figcaption>Software store</figcaption>
</figure>

<figure ng-click="showGallery(3)">
	<img src="./images/works_ncmp_04.png" alt="List of customers" data-width="1440"/>
	<figcaption>List of customers</figcaption>
</figure>

<figure ng-click="showGallery(4)">
	<img src="./images/works_ncmp_05.png" alt="List of devices owned by a customer" data-width="1440"/>
	<figcaption>List of devices owned by a customer</figcaption>
</figure>

<p>vSpace Manager is a software which customers install on their host computers to manage all of the connected thin client devices.</p>

<figure ng-click="showGallery(5)">
	<img src="./images/works_ncmp_06.png" alt="List of vSpace Managers on behalf of a customer" data-width="1440"/>
	<figcaption>List of vSpace Managers on behalf of a customer</figcaption>
</figure>

<figure ng-click="showGallery(6)">
	<img src="./images/works_ncmp_07.png" alt="vSpace Manager details" data-width="1440"/>
	<figcaption>vSpace Manager details</figcaption>
</figure>

<p style="text-align: center"><a href="http://www.zeropc.com/ncomputing-web-portal-templates/angular/#/main?authType=ncomputing">Management Portal Online Prototype (Corporation Account)</a></p>
<p style="text-align: center"><a href="http://www.zeropc.com/ncomputing-web-portal-templates/angular/#/main?authType=customer">Management Portal Online Prototype (Customer Account)</a></p>