<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">UI/UX Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 80%"></span></span><span class="percent-text">80%</span></span></li>
	<li><span class="cont-title">Prototype Coding (HTML/CSS/Javascript)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>vSpace Pro 10 is consist of vSpace Console and vSpace Manager.</p>

<p>vSpace Console is for managing the host computers and connected thin client devices.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_vconsole_01.png" alt="vSpace Console - main page" data-width="1440"/>
	<figcaption>vSpace Console - main page</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_vconsole_02.png" alt="vSpace Console - servers - dashboard" data-width="1440"/>
	<figcaption>vSpace Console - servers - dashboard</figcaption>
</figure>

<figure ng-click="showGallery(2)">
	<img src="./images/works_vconsole_03.png" alt="vSpace Console - servers - sessions" data-width="1440"/>
	<figcaption>vSpace Console - servers - sessions</figcaption>
</figure>

<figure ng-click="showGallery(3)">
	<img src="./images/works_vconsole_04.png" alt="vSpace Console - servers - Premium Features" data-width="1440"/>
	<figcaption>vSpace Console - servers - Premium Features</figcaption>
</figure>

<figure ng-click="showGallery(4)">
	<img src="./images/works_vconsole_05.png" alt="vSpace Console - servers - settings" data-width="1440"/>
	<figcaption>vSpace Console - servers - settings</figcaption>
</figure>

<p>vSpace Manager is for allocating software licenses and Premium Features to each host computer.</p>

<p style="text-align: center"><a href="http://www.zeropc.com/ncomputing-vspace-console-ui-prototype">vSpace Console UI Prototype</a></p>
<p style="text-align: center"><a href="http://www.zeropc.com/ncomputing-vspace-manager-ui-prototype">vSpace Manager UI Prototype</a></p>