<p>QualityTime is an Android App that helps you monitor and reduce your daily smart phone usage.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_qt_02.png" alt="QualityTime logo" data-width="160" />
	<figcaption>QualityTime logo</figcaption>
</figure>

<p>The first thing users see in QualityTime is the circle that show your today's usage. The bigger the circle is, the more time you spend on your screen. Below it you see your app usage timeline. Different colors stand for different time of the day.</p>

<figure ng-click="showGallery(1)">
	<img src="./images/works_qt_01.png" alt="Timeline UI" data-width="520" />
	<figcaption>Timeline UI</figcaption>
</figure>

<p>Analysis view shows apps that you used the most on the day or the week. You can also compare usages between different days.</p>

<figure ng-click="showGallery(2)">
	<img src="./images/works_qt_03.png" alt="Usage Analysis UI" data-width="520" />
	<figcaption>Usage Analysis UI</figcaption>
</figure>

<p>Take a Break feature lets you force yourself to not use your phone. It blocks the phone for set duration.</p>

<figure ng-click="showGallery(3)">
	<img src="./images/works_qt_04.png" alt="Take a Break UI" data-width="520" />
	<figcaption>Take a Break UI</figcaption>
</figure>

<p style="text-align: center"><a href="https://play.google.com/store/apps/details?id=com.zerodesktop.appdetox.qualitytime">QualityTime on Google Play</a></p>