<label class="contribution-label">My Contributions</label>
<ul class="contribution">
	<li><span class="cont-title">Logo and Graphic Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Mobile App UI Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 75%"></span></span><span class="percent-text">75%</span></span></li>
	<li><span class="cont-title">Web Landing Page Design</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
	<li><span class="cont-title">Web Landing Page Coding (HTML/CSS/PHP)</span><span class="percent-wrapper"><span class="cont-percent"><span class="cont-percent-bar" style="width: 100%"></span></span><span class="percent-text">100%</span></span></li>
</ul>

<p>ZeroPC turns your browser into a desktop. You can connect multiple cloud services like DropBox, Box and Google Drive, access them in one place and copy files between the services. We also provide companion iOS and Android apps, which are called Cloud Navigator.</p>

<figure ng-click="showGallery(0)">
	<img src="./images/works_zeropc_01.png" alt="ZeroPC logo" data-width="160" />
	<figcaption>ZeroPC logo</figcaption>
</figure>

<figure ng-click="showGallery(1)">
	<img src="./images/works_zeropc_02.png" alt="ZeroPC website" data-width="540" />
	<figcaption>ZeroPC website</figcaption>
</figure>

<figure ng-click="showGallery(2)">
	<img src="./images/works_zeropc_03.png" alt="iOS Cloud Navigator UI" data-width="540" />
	<figcaption>iOS Cloud Navigator UI</figcaption>
</figure>

<p style="text-align: center"><a href="http://www.zeropc.com">ZeroPC Website</a></p>