html, body, .ng-scope {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.ng-scope {
	display: table;
}

.main-bg {
	width: 100%;
	height: 100%;
	background: #2fb1ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #2fb1ff 0%, #c6ff6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2fb1ff), color-stop(100%,#c6ff6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2fb1ff 0%,#c6ff6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2fb1ff 0%,#c6ff6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2fb1ff 0%,#c6ff6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2fb1ff 0%,#c6ff6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fb1ff', endColorstr='#c6ff6b',GradientType=0 ); /* IE6-9 */
	display: table-cell;
	vertical-align: middle;
}

#logo {
	position: relative;
	left: -10px;
	margin: auto;
	width: 224px;
	height: 128px;
	background-position: -1792px -1408px;
	-webkit-background-size: 2240px 1536px;
	background-image: -webkit-image-set(url(/assets/images/logo_sprite.png) 1x,url(/assets/images/logo_sprite@2x.png) 2x);
	-webkit-animation: row0 .2s steps(10), row1 .2s steps(10) .2s, row2 .2s steps(10) .4s, row3 .2s steps(10) .6s, row4 .2s steps(10) .8s, row5 .2s steps(10) 1s, row6 .2s steps(10) 1.2s, row7 .2s steps(10) 1.4s, row8 .2s steps(10) 1.6s, row9 .2s steps(10) 1.8s, row10 .2s steps(10) 2s, row11 .2s steps(9) 2.2s; 
}

@-webkit-keyframes row0 {
   from { background-position:    0px 0; }
     to { background-position: -2240px 0; }
}

@-webkit-keyframes row1 {
   from { background-position:    0px -128px; }
     to { background-position: -2240px -128px; }
}

@-webkit-keyframes row2 {
   from { background-position:    0px -256px; }
     to { background-position: -2240px -256px; }
}

@-webkit-keyframes row3 {
   from { background-position:    0px -384px; }
     to { background-position: -2240px -384px; }
}

@-webkit-keyframes row4 {
   from { background-position:    0px -512px; }
     to { background-position: -2240px -512px; }
}

@-webkit-keyframes row5 {
   from { background-position:    0px -640px; }
     to { background-position: -2240px -640px; }
}

@-webkit-keyframes row6 {
   from { background-position:    0px -768px; }
     to { background-position: -2240px -768px; }
}

@-webkit-keyframes row7 {
   from { background-position:    0px -896px; }
     to { background-position: -2240px -896px; }
}

@-webkit-keyframes row8 {
   from { background-position:    0px -1024px; }
     to { background-position: -2240px -1024px; }
}

@-webkit-keyframes row9 {
   from { background-position:    0px -1152px; }
     to { background-position: -2240px -1152px; }
}

@-webkit-keyframes row10 {
   from { background-position:    0px -1280px; }
     to { background-position: -2240px -1280px; }
}

@-webkit-keyframes row11 {
   from { background-position:    0px -1408px; }
     to { background-position: -2016px -1408px; }
}